
<p><%= @greeting %> <br> You're getting this automatic message because you're having trouble attaching a file to an email, or someone thinks you're having trouble, or you are just generally clueless about technology and I KNOW you're going to ask me about this later.

How to attach a file to a email:<p><blockquote>

1.	Create an email (<font face='BKCap'>v</font> + <font face='BKCap'>N</font> or hit the ‘<b>Reply</b>’ button)
<p>2.	Open the folder with the file you want
<p>3.    Click on the file and drag it into the body of your email
<p>4.    YOU DID IT
<p>
<p>
</blockquote>
Alternate Method:
<blockquote>
1.	Create an email, or for an existing email, click <b>Reply</b>,<b> Reply All</b>, or <b>Forward.</b><p>
2.	In the message window, on the <b>Message</b> tab, in the <b>Include</b> group, click <b>Attach File</b>.<p>
 
 <%= image_tag attachments['HowToAttachFile.png'].url %>
 <p>
 

3.	Browse to and click the file that you want to attach, and then click <b>Insert</b>.<p>
</blockquote>

<p>
	
	<br>Thanks,
	<br>Allison (IT) <p>
	 
 <%= image_tag attachments['AllisonSig.png'].url %> <p>
	<font color='32CD32'>  Please consider the environment before printing this email.
	
	</p>