All,<p>Our thoughts and prayers go out to our clients in Michigan today.</p> <p>If you need to talk, the firm has contracted with an Employee Assistance Program (EAP), LifeLine, which offers discounted counseling.  You can reach them at 1-800-HEL-PMEE. </p> <br>Mention Company ID 510-677-869-441. <p>Yours,<br>Charles<p><i>Partner<br>Harold, Adams, McNutt & Joy </i></p>

