<p>No one is using their own paper, Allison. </p>

<p>The printer keeps jamming because it needs to be serviced.</p>

<p>-Darren</p><p><blockquote><p><font color='660066'>
From: Allison Stevens (IT)<br>
Subject: Printer on 5<p>

All,</p>

<p>The printer/copier on 5 is jammed again. Please use ONLY 20-lb copier paper from Staples. DO NOT use recycled paper, or bring your own paper, or any kind of paper you feel like. That will JAM the printer and then I will have to FIX it. Again. <br>
	
	<br>Thanks,
	<br>Allison (IT) <p>
	 <%= image_tag attachments['AllisonSig_copy_purpl.png'].url %>


 <p>
	  Please consider the environment before printing this email.
	
	</p>