<p>Hello <%= @greeting %>! Wish I could be there to welcome you in person but I&rsquo;ve got a client offsite. </p>

<p>I asked Sarah Jane to document her work so you could just pick that up where she left off. She said she sent you an email? </p>
So glad to have you on the team! <br> Think it&rsquo;s gonna be a great year for us. <br>
Yrs,<br>
Diego</p>

<p><i>Managing Director; Harold, Adams, McNutt, &amp; Joy, LLP.</i></p>