<p>Hello <%= @greeting %> and welcome to Harold, Adams, McNutt & Joy. I&rsquo;m Darren, the Office Manager. <br> Some quick notes:</p>

<blockquote>
<p>&#9679; Your voicemail is set up - <b><u>please</u></b> when the red light flashes, please retrieve your messages promptly by pressing # and then 7. 
<P> &#9679; For client confidentiality reasons, you have your own printer. But don&rsquo;t abuse it!  
<p>&#9679; I can&rsquo;t do anything about the temperature, so don&rsquo;t ask. 
<p>&#9679; Anything else you need, just drop me a line. </p>
</blockquote>
<p>Yours, 

<br>Darren, Office Manager </p>