<p>Hey <%= @greeting %>— did you get my voicemail? Diego wants the "US Total Population 1999 to 2001" mortality table.  Should be in your documents folder.  See attached recording above, I think Sarah Jane left it for you … don’t know why she couldn’t just send an email like a normal person though.

<p>

<p>Thanks, 
<p><font size='6'><font face='Lucida Handwriting'><font color ='FF1493'>James</font></p>

<p><font size='3'><font face='Lucida Handwriting'><font color ='FF1493'>&ldquo;Joy is a net of love by which you can catch souls.&rdquo; —Mother Theresa</font><font face='Courier New'><font size=‘3’><p><p>

