<p>Hi <%= @greeting %>!<br> I&rsquo;m Sarah Jane, welcome to my desk! <br>I recorded some notes for you.  Just double click the attachment. <p>

<p>Good luck! 

<br>Sarah Jane :)</p>


<!-- [LINK TO: AUSJ01] -->
</p>
